* {
  margin: 0;
  padding: 0;
}

body {
  font: bold 12px "Microsoft JhengHei Light";
  margin: 2em;
  padding: 2em;

  .svg-icon {
    width: 250px;
    height: 250px;

  }

  a {
    margin: 0 1em;
    padding: 0.56em;
  }

  a:hover {
    background: white;
    color: crimson;
    border: 1px solid black;
    border-radius: 10px;
  }

  h1:last-child {
    padding: 3.5em 6em;
    font: italic 72px Cambria;
  }

  hr {
    margin: 1.5em 0;
  }
}
