

body {
  background-image: linear-gradient(to left, rgba(155,55,2,0.4), rgba(100,129,255,0.5));
  app-root {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid red;
    border-radius: 10px;
    .svg-icon {
      height: 250px;
      width: 250px;
      background-image: url("./logo.svg");
      position: absolute;;
    }
  }
}

